@import "variables/variables";
@import "mixins/mixins";
@import "functions/functions";
@include generate-container();
@include column-default-style();
@include set-column-width();
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');
.nav {
    &-item {
        font-family: 'Catamaran', helvetica, arial, sans-serif;
    }
    &-link {
        font-family: 'Lato', helvetica, arial, sans-serif;
        &:hover {
            background-color: blue;
        }
    }
}

.btn {
    font-family: 'Lato', helvetica, arial, sans-serif;
    &-outline-light {
        font-size: x-small;
    }
}

h3,
h1,
h5 {
    font-family: 'Catamaran', helvetica, arial, sans-serif;
}

p {
    font-family: 'Mulish', helvetica, arial, sans-serif;
}

.display-4 {
    font-family: 'Catamaran', helvetica, arial, sans-serif;
}

.phone--img1 {
    width: 350px;
    border-radius: 50px;
}

.phone__inside-img1 {
    width: 305px;
    position: relative;
    top: -615px;
    left: 3px;
}

.phone--img2 {
    width: 350px;
    border-radius: 50px;
    /* height: 360px; */
}

.phone__inside-img2 {
    width: 305px;
    position: relative;
    top: -615px;
    left: 3px;
}

.section1 {
    background-image: url("/bs-sitebuild_img/backgroun-image.jpg");
    background: linear-gradient(to right, #ff0066 0%, #b42ae2 100%);
}

.section2 {
    background-color: rgb(252, 201, 88);
    padding-top: 160px;
    padding-bottom: 110px;
}

.section4 {
    /* background-image: url("/bs-sitebuild_img/bg-cta.jpg");
    background-position: center; */
    height: 150;
    max-width: 100%;
    height: auto;
    margin-bottom: 150px;
    @media screen and (max-width: 992px) {
        max-height: 200px;
    }
}

.section5 {
    z-index: 99;
}

.image--text {
    position: relative;
    top: -1px;
    left: 53px;
}

.picture-row {
    height: 200px;
    width: 100%;
}

footer {
    font-family: 'Mulish', helvetica, arial, sans-serif;
    text-align: center;
}