@import "variables/variables";
@import "mixins/mixins";
@import "functions/functions";
@include generate-container();
@include column-default-style();
@include set-column-width();
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');
body {
    display: flex;
    margin: 0;
    flex-direction: column;
    min-width: 100%;
}

.container--fluid {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-flow: row wrap;
    margin: 0 auto;
    padding: 5px;
    position: relative;
    max-width: 1400px;
}


/* .container > [class^=default] */

.container-fluid>[class^="col"] {
    box-sizing: border-box;
    padding: 10px;
    position: relative;
}

@media only screen and (min-width: 960px) {
    .container-fluid>[class^="col"] {
        padding: 15px;
    }
}

.nav {
    display: flex;
    justify-content: center;
    &:hover {
        background-color: $logo-hover-backgroundcolor;
    }
    &-item {
        font-family: "Catamaran", helvetica, arial, sans-serif;
    }
    &-logo {
        text-decoration: none;
        color: $logo-color;
        font-size: 1.5rem;
        &:hover {
            color: $logo-hover-color;
            background-color: $logo-hover-backgroundcolor;
        }
    }
    &__div {
        display: flex;
        align-items: flex-start;
        flex-direction: row-reverse;
        width: 100%;
        @media screen and (min-width: 992px) {
            align-items: center;
        }
    }
    &__ul {
        display: none;
        flex-direction: column;
        margin: 0 auto;
        padding: 0;
        width: 100%;
        list-style: none;
        @media screen and (min-width: 992px) {
            display: flex;
            flex-direction: row;
            width: auto;
        }
    }
    &__ul-li {
        text-align: center;
    }
    &-link {
        font-family: "Lato", helvetica, arial, sans-serif;
        color: $nav-link-color;
        display: block;
        line-height: 2rem;
        padding: 2rem;
        text-decoration: none;
        &:hover {
            background-color: $nav-link-hover-backgoundcolor;
            color: $nav-link-hover-color;
        }
    }
    &-checkbox {
        display: none;
        &:checked {
            +.nav__ul {
                display: flex;
            }
        }
    }
    &-label {
        align-items: center;
        margin-top: 15px;
        margin-right: 40px;
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        height: 1.5rem;
        padding: .5rem;
        width: 3.5rem;
        border: 1px solid rgb(204, 199, 199);
        border-radius: 6px;
        @media screen and (min-width: 992px) {
            display: none;
        }
        &:hover {
            color: $logo-hover-color;
        }
    }
    &-span {
        background: black;
        height: 1px;
        width: 1.5px;
        display: block;
    }
}

.btn {
    font-family: "Lato", helvetica, arial, sans-serif;
}

.btn-outline-light {
    font-size: x-small;
}

h3,
h1,
h5 {
    font-family: "Catamaran", helvetica, arial, sans-serif;
}

p {
    font-family: "Mulish", helvetica, arial, sans-serif;
}

.display-4 {
    font-family: "Catamaran", helvetica, arial, sans-serif;
}

.phone--img1 {
    width: 350px;
    border-radius: 50px;
}

.phone__inside-img1 {
    width: 305px;
    position: relative;
    top: -615px;
    left: 3px;
}

.phone--img2 {
    width: 350px;
    border-radius: 50px;
    /* height: 360px; */
}

.phone__inside-img2 {
    width: 305px;
    position: relative;
    top: -615px;
    left: 3px;
}

.section1 {
    background-image: url("/bs-sitebuild_img/backgroun-image.jpg");
    background: linear-gradient(to right, #ff0066 0%, #b42ae2 100%);
    margin-top: 20px;
    color: $section1-color;
    @media screen and (min-width: 992px) {
        display: none;
    }
    &__container {
        text-align: center;
        margin: 40px;
    }
    &-btn {
        margin: 25px;
        padding: 14px;
        border: 1px solid white;
        border-radius: 45px;
        font-size: 2rem;
        text-decoration: none;
        &:hover {
            background-color: $section4-backgroundcolor;
            border: 1px solid $section4-backgroundcolor;
            transition: background-color 300ms;
        }
    }
    &__imgdiv {
        margin: 35px;
        padding: 5px;
        max-width: 100%;
        &__imgclass--img {
            max-width: 400px;
        }
    }
    &__imgclass {
        display: flex;
        justify-content: center;
        &--img {
            max-width: 60%;
            border-radius: 50px;
        }
    }
}

.section2 {
    background-color: $section2-backgoundcolor;
    padding-top: 160px;
    padding-bottom: 110px;
    &__container {
        display: flex;
    }
    &__container {
        display: block;
        text-align: center;
        margin: 20px;
    }
    &__rows {
        text-align: center;
        font-size: 4rem;
        margin: 25px;
    }
    &-small {
        font-size: 2rem;
    }
    &__imgcontainer {
        margin-bottom: 20px;
    }
    &__imgcontainer-img {
        justify-content: center;
        height: 40px;
    }
    &__img-row {
        justify-content: center;
        margin: 20px;
    }
}

.section3 {
    &__container {
        padding: 20px;
    }
    &__row1 {
        text-align: center;
        font-size: 3rem;
        &-high {
            text-align: center;
            font-size: 3rem;
        }
    }
    &__row2 {
        text-align: center;
        font-size: 1.4rem;
    }
    &__row3-imgdiv {
        display: flex;
        justify-content: center;
    }
}

.section4 {
    /* background-image: url("/bs-sitebuild_img/bg-cta.jpg");
  background-position: center; */
    max-width: 100%;
    font-family: "Catamaran", helvetica, arial, sans-serif;
    height: auto;
    &__container {
        display: flex;
        flex-direction: column;
    }
    &-img {
        max-width: 100%;
        height: 650px;
        margin-bottom: 0;
    }
    &__text1-class {
        position: relative;
        top: -580px;
        left: 60px;
        color: $section4-text-color;
        font-size: 3rem;
    }
    &__text2-class {
        position: relative;
        top: -640px;
        left: 60px;
        color: $section4-text-color;
        font-size: 3rem;
    }
    &-button {
        position: relative;
        font-family: "Catamaran", helvetica, arial, sans-serif;
        top: -700px;
        left: 150px;
        color: $section4-text-color;
        border-radius: 40px;
        border: 2px solid white;
        padding: 15px 45px 15px 45px;
        font-size: 1rem;
        text-decoration: none;
        background: none;
        &:hover {
            background-color: $section4-backgroundcolor;
            border: 2px solid $section4-backgroundcolor;
            transition: background-color 300ms;
        }
    }
}

.section5 {
    font-family: "Catamaran", helvetica, arial, sans-serif;
    &-container {
        background-color: $section2-backgoundcolor;
        font-size: 3rem;
        margin-top: 0px;
        text-align: center;
    }
    &-logo {
        margin: 10px;
        padding: 10px;
        background-color: rgb(103, 203, 216, .9);
        border-radius: 40%;
        &:hover {
            background-color: rgba(53, 149, 161, 1);
        }
    }
}

.image--text {
    position: relative;
    top: -1px;
    left: 53px;
    z-index: 99;
}

.picture-row {
    height: 200px;
    width: 100%;
}

footer {
    background-color: rgb(63, 60, 60);
    font-family: "Mulish", Helvetica, Arial, sans-serif;
    text-align: center;
    color: $logo-hover-color;
    padding-top: 30px;
    margin-bottom: 0px;
    height: 190px;
}