$logo-color: #FCC958;
$logo-hover-color: white;
$logo-hover-backgroundcolor: rgb(194, 190, 190);
$nav-link-color: black;
$nav-link-hover-color: white;
$nav-link-hover-backgoundcolor: rgb(122, 122, 146);
$section1-color: white;
$section1-backgound-form-color: #ff0066;
$section1-backgound-to-color: #b42ae2;
$section2-backgoundcolor: #fcc958;
$section4-text-color: white;
$section4-backgroundcolor: #fdcc52;
$footer-text-color:rgb(199, 193, 182);